# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env files
.env

# Build outputs
dist/
build/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

#ca.pem
ca.pem

# Firebase
firebase-service-account.json